@import "~antd/dist/antd.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.Map {
  height: 100%;
}

.App {
  // display: flex;
  // justify-content: center;
  text-align: center;
}

.searchLine {
  height: 70px;
}

.lastSearchBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #0092ff;
  padding: 8px 0;
  height: 265px;
  border: solid;
  p {
    font-size: 20px;
    color: aqua;
  }
}

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}